@charset "UTF-8";

@media screen and (min-width:1440px){
    main{
        width: 600px;
        
    }
    .mobile{
        display: none;
    }
    .desktop{
        margin: 0px;
        padding: 0px;
        float: left;
        width: 300px;
        height: 68vh;       
    }
    .text{
        margin: -619px 34px 30px 316px;
        float: right;
    }
    h1{
        margin: 20px 0px 20px 0px;
    }
    .desc{
        margin: 0px 0px 20px 0px;
    }
    .newprice{
        margin-top: -7px;
    }
    
    button{
        position: absolute;
        width: 246px;
        margin: auto;
        top:70%;
        left: 55%;
    }
}