@charset "UTF-8";

@media screen and (min-width:1000px){
    main{
        width: 700px;
        
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
        float: left;
        width: 20em;
        height: 68vh;   
        background-position: center top;
        background-size: cover;    
    }
    .text{
        margin: -612px 66px 30px 316px;
        float: right;
    }
    h1{
        margin: 20px 0px 20px 0px;
    }
    .desc{
        margin: 0px 0px 20px 0px;
    }
    .newprice{
        margin-top: -7px;
    }
    
    button{
        position: absolute;
        width: 246px;
        margin: auto;
        top:70%;
        left: 55%;
    }
}